.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #f5f5f5;
}

.navbar {
  transition: background-color .5s ease-in-out, padding .5s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.12);
}

.navbar-scrolled {
  background-color: #087e8b;
  padding-top: 5px;
  padding-bottom: 5px;
}