.section {
  text-align: center;

  .section-heading {
    margin-top: 2rem;
    margin-bottom: 3rem; 
  }

  .section-description {
    margin-bottom: 4rem;
    margin-left: 15%;
    margin-right: 15%;
  }
}