@import 'colors';
@import 'navbar';
@import 'section';
@import 'blog';

.intro {
  background: no-repeat center center;
  background-color: $main;
  margin-bottom: 50px;
  //background-image: url(/public/img/mechanical_keyboard.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.12);
}

.site-heading {
  padding: 125px 0 125px;
  color: $my-white;
}

/* Fonts */
.font-bold {
  font-weight: 500;
}

/* hr */
.hr-light {
  border-top: 1px solid $my-white;
}

a, a:visited {
  color: $secondary;
}

a:hover, a:active {
  color: $secondary-dark;
}

.shadow {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.12);
}

.about-pic {
  margin-bottom: 50px;
}

